<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UniteController</servlet-name>
        <servlet-class>controller.unite.UniteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatiereController</servlet-name>
        <servlet-class>controller.matiere.MatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMatiereLookController</servlet-name>
        <servlet-class>controller.look.MatiereLookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookController</servlet-name>
        <servlet-class>controller.look.LookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMatiereController</servlet-name>
        <servlet-class>controller.matiere.ListMatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TailleController</servlet-name>
        <servlet-class>controller.taille.TailleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeController</servlet-name>
        <servlet-class>controller.type.TypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTypeTailleController</servlet-name>
        <servlet-class>controller.look.ListTypeTailleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeMatiereProduitController</servlet-name>
        <servlet-class>controller.matiere.ListeMatiereProduitController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UniteController</servlet-name>
        <url-pattern>/add_unite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatiereController</servlet-name>
        <url-pattern>/add_matiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMatiereLookController</servlet-name>
        <url-pattern>/add_matiere_look</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookController</servlet-name>
        <url-pattern>/add_look</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMatiereController</servlet-name>
        <url-pattern>/list_matiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TailleController</servlet-name>
        <url-pattern>/add_taille</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeController</servlet-name>
        <url-pattern>/add_type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTypeTailleController</servlet-name>
        <url-pattern>/list_type_taille</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeMatiereProduitController</servlet-name>
        <url-pattern>/list_matiere_produit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
