<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UniteController</servlet-name>
        <servlet-class>controller.unite.UniteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatiereController</servlet-name>
        <servlet-class>controller.matiere.MatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMatiereLookController</servlet-name>
        <servlet-class>controller.look.MatiereLookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookController</servlet-name>
        <servlet-class>controller.look.LookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMatiereController</servlet-name>
        <servlet-class>controller.matiere.ListMatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TailleController</servlet-name>
        <servlet-class>controller.taille.TailleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeController</servlet-name>
        <servlet-class>controller.type.TypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTypeTailleController</servlet-name>
        <servlet-class>controller.look.ListTypeTailleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeMatiereProduitController</servlet-name>
        <servlet-class>controller.matiere.ListeMatiereProduitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModeleController</servlet-name>
        <servlet-class>controller.modele.ModeleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatierePrixController</servlet-name>
        <servlet-class>controller.matiere.MatierePrixController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheController</servlet-name>
        <servlet-class>controller.modele.RechercheController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatiereStockController</servlet-name>
        <servlet-class>controller.matiere.MatiereStockController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FabricationController</servlet-name>
        <servlet-class>controller.fabrication.FabricationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockMatiereController</servlet-name>
        <servlet-class>controller.matiere.StockMatiereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeController</servlet-name>
        <servlet-class>controller.employe.EmployeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreController</servlet-name>
        <servlet-class>controller.genre.GenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecialiteController</servlet-name>
        <servlet-class>controller.specialite.SpecialiteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrixVenteController</servlet-name>
        <servlet-class>controller.modele.PrixVenteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheBeneficeController</servlet-name>
        <servlet-class>controller.modele.RechercheBeneficeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModeleSpecialiteController</servlet-name>
        <servlet-class>controller.modele.ModeleSpecialiteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoixModeleController</servlet-name>
        <servlet-class>controller.modele.ChoixModeleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecialitePrixController</servlet-name>
        <servlet-class>controller.specialite.SpecialitePrixController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listEmployeStatusController</servlet-name>
        <servlet-class>controller.employe.ListEmployeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusController</servlet-name>
        <servlet-class>controller.status.StatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmbaucheEmployeController</servlet-name>
        <servlet-class>controller.employe.EmbaucheEmployeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatistiqueVenteController</servlet-name>
        <servlet-class>controller.vente.StatistiqueVenteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VenteController</servlet-name>
        <servlet-class>controller.vente.VenteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientController</servlet-name>
        <servlet-class>controller.client.ClientController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UniteController</servlet-name>
        <url-pattern>/add_unite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatiereController</servlet-name>
        <url-pattern>/add_matiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMatiereLookController</servlet-name>
        <url-pattern>/add_matiere_look</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookController</servlet-name>
        <url-pattern>/add_look</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMatiereController</servlet-name>
        <url-pattern>/list_matiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TailleController</servlet-name>
        <url-pattern>/add_taille</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeController</servlet-name>
        <url-pattern>/add_type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTypeTailleController</servlet-name>
        <url-pattern>/list_type_taille</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeMatiereProduitController</servlet-name>
        <url-pattern>/list_matiere_produit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModeleController</servlet-name>
        <url-pattern>/add_modele</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatierePrixController</servlet-name>
        <url-pattern>/add_matiere_prix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheController</servlet-name>
        <url-pattern>/recherche_modele</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatiereStockController</servlet-name>
        <url-pattern>/add_matiere_stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FabricationController</servlet-name>
        <url-pattern>/add_fabrication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockMatiereController</servlet-name>
        <url-pattern>/stock_matiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeController</servlet-name>
        <url-pattern>/add_employe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreController</servlet-name>
        <url-pattern>/add_genre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecialiteController</servlet-name>
        <url-pattern>/add_specialite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrixVenteController</servlet-name>
        <url-pattern>/add_prix_vente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheBeneficeController</servlet-name>
        <url-pattern>/recherche_benefice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModeleSpecialiteController</servlet-name>
        <url-pattern>/add_modele_specialite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoixModeleController</servlet-name>
        <url-pattern>/add_specialite_modele</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecialitePrixController</servlet-name>
        <url-pattern>/add_specialite_prix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listEmployeStatusController</servlet-name>
        <url-pattern>/list_employe_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusController</servlet-name>
        <url-pattern>/add_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmbaucheEmployeController</servlet-name>
        <url-pattern>/add_date_embauche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatistiqueVenteController</servlet-name>
        <url-pattern>/stat_vente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VenteController</servlet-name>
        <url-pattern>/add_vente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientController</servlet-name>
        <url-pattern>/add_client</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
